<div style="width: 100%;">
    <nav class="navbar navbar-expand-sm bg-primary navbar-light">
        <i class="far fa-id-card"></i>
        <h2 style="color: white"><i class="bi bi-gear-fill" style="margin-left: 10px"></i> Employee Dashboard</h2>
    </nav>
</div>
<br>
<div class="container" style="margin-bottom: 10px">
    <div id="left">
        <h2><button type="button" (click)="router.navigate(['/employees'])" class="btn btn-secondary "><i class="bi bi-skip-backward-fill"></i> Back to Dashboard</button> </h2>
    </div>
    <div id="mid">
        <h2 class="text-center"> Employees List</h2>
    </div>

    <br>
</div>
<br>
<br>
<div class="container-fluid">
    <div style="overflow-x:auto;">
        <table class="table table-striped table-bordered table-responsive-md" style="margin-left: 10px">
            <thead class="thead-dark" style="background-color: black; color: white; padding: auto;">
                <tr>
                    <th scope="col"> #ID</th>
                    <th scope="col"> Employee </th>
                    <th scope="col"> Employee First-Name </th>
                    <th scope="col"> Employee Last-Name</th>
                    <th scope="col"> Skills</th>
                    <th scope="col"> Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td> {{ employee.id }} </td>
                    <td> {{ employee.firstName }} &nbsp; {{ employee.lastName }} </td>
                    <td> {{ employee.firstName }} </td>
                    <td> {{ employee.lastName }} </td>
                    <td> {{ employee.skills }} </td>
                    <td> {{ employee.registrationDate }} </td>

                    <!-- <td>
                        <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px"> View Details</button>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>