.outerDiv {
    color: #fff;
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 5px;
}

.leftDiv {
    background-color: #efefef;
    color: #000;
    height: 100%;
    width: 70%;
    float: left;
}

.rightDiv {
    background-color: #efefef;
    color: #000;
    height: 400px;
    width: auto;
    margin-right: 5px;
    float: right;
}